<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<div>
  <%= link_to "All", action: :index, params: {} %>
  <%= link_to "Done", action: :index, params: {done: 1} %>
  <%= link_to "Undone", action: :index, params: {done: 0} %>
</div>

<table class='tasks'>
  <thead>
    <tr>
      <th>Created/Due</th>
      <th>Title</th>
      <th>Project</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <span title='<%= task.created_at %>'>
            <%= task.created_at.to_date %>
          </span>
          <% if task.due_date %>
            (<%= task.due_date %>)
          <% end %>
        </td>
        <td class='title'>
          <% if task.done %>&#x2714;<% end %>
          <%= link_to task.title, task %>
        </td>
        <td><%= task.project&.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
