<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Archived:</strong>
  <%= @project.archived %>
</p>

<p>
  <strong>Archived at:</strong>
  <%= @project.archived_at %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
