<!DOCTYPE html>
<html>
  <head>
    <title>Vision</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if Rails.env == "development" %>
      <style>h1{ background: orange; }</style>
    <% end %>
  </head>

  <body>
    <% unless @no_header %>
      <h1><a href='/'>Vision</a></h1>
    <% end %>
    <div>
      <% [:notice, :alert].each do |key| %>
        <% if flash[key] %>
          <p id="flash_<%= key %>">
            <span onclick="document.querySelector('#flash_<%= key %>').style.display = 'none'">
              [x]
            </span>
            <%= flash[key] %>
          </p>
        <% end %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
